$columns: 12;
$breakpoint: 600px;
$width: 1200px;
$gutter: 5px;

.row {
  width: $width;
  margin: 0 auto;
}

@media screen and (min-width: $breakpoint) {
  @for $i from 1 through $columns {
    .col-#{$i}-of-#{$columns} {
      display: inline-block;
      margin-left: $gutter;
      margin-right: $gutter;
      vertical-align: top;
      width: ($width/$columns * $i) - ($gutter * 2);
      // try to add a @for loop here to also create for example .col-1-of-12-offset-2
    }
  }
}