body {
  font-family: monospace;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

header {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
}

header h1 {
  color: black;
  margin: 0;
  padding: 0.5em;
}

a {
  color: black;
  text-decoration: none;
}


.risers h2, .fallers h2 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

footer {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
}

footer p {
  color: black;
  margin: 0px;
  padding: 1em;
}
