.row {
  width: 1200px;
  margin: 0 auto; }

@media screen and (min-width: 600px) {
  .col-1-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 90px; }

  .col-2-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 190px; }

  .col-3-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 290px; }

  .col-4-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 390px; }

  .col-5-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 490px; }

  .col-6-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 590px; }

  .col-7-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 690px; }

  .col-8-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 790px; }

  .col-9-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 890px; }

  .col-10-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 990px; }

  .col-11-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 1090px; }

  .col-12-of-12 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    width: 1190px; } }
body {
  margin: 0 auto;
  width: 100vw; }

table {
  width: 100%;
  font-size: 1.2em; }
  table td, table th {
    padding: 5px 5px;
    text-align: left; }
  table tr {
    height: 2em;
    line-height: 2em; }
  table .headers {
    background-color: #550000;
    color: white; }
  table .odd {
    background-color: #FFAAAA; }

header h1, header p, footer h1, footer p {
  padding-left: 0; }

.search {
  padding-top: 38px;
  padding-left: 20px; }
  .search form {
    background-color: #C2C5C8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    font-size: 1.2em; }
    .search form fieldset {
      border: none; }
      .search form fieldset legend {
        padding-top: 10px;
        font-size: 1.4em; }
    .search form label {
      width: 120px;
      float: left;
      margin-right: 30px;
      text-align: right; }

/*# sourceMappingURL=style.css.map */
