@import 'palette';
@import 'grid';
@import 'utils';

body {
  margin: 0 auto;
  width: 100vw;
}

table {
  width: 100%;
  font-size: $font-size;

  td, th {
    padding: 5px 5px;
    text-align: left;
  }

  tr {
    height: 2em;
    line-height: 2em;
  }

  .headers {
    background-color: $color_2;
    color: $color_1;
  }
  .odd {
  background-color: $color_3;
  }
}

header, footer {
  h1, p {
    padding-left: 0;
  }
}

.search {
  padding-top: 38px;
  padding-left: 20px;
  form {
    background-color: $color_4;
    @include border-radius(10px);
    font-size: $font-size;
    fieldset {
      border: none;
        legend {
            padding-top: 10px;
            font-size: 1.4em; 
        }
    }
    label {
        width: 120px;
        float: left;
        margin-right: 30px;
        text-align: right;
      }
  }
}




